<ngb-tabset>
  <ngb-tab>
  <ng-template ngbTabTitle><b>Description</b></ng-template>
    <ng-template ngbTabContent>
      <p>{{Annonce}}</p>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle>Details</ng-template>
    <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
      <p>ok</p>
    </ng-template>
  </ngb-tab>

</ngb-tabset>

<button mat-stroked-button color="warn" (click)="post()">Contacter l'annonceur</button>
