<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a (click)="Accueil()" class="navbar-brand" href="#"><img width="50" alt="Logo" src="assets/img/logoVersionDefinitive.png"></a>
  <button  class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/utilisateurs">Liste utilisateurs</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Annonce
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/annonces/view">Voir</a>
          <a class="dropdown-item" href="/annonces/add">Créer</a>
          <a class="dropdown-item" href="/annonces/manage">Gérer</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/utilisateurs/{{idUser}}">Profil</a>
      </li>
      <form class="form-inline my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/utilisateurs/{{idUser}}">Profil</a>
        </li>
      </form>

    </ul>


  </div>
</nav>
<div style="text-align:center">
  <h1 class="h1">
    Bienvenue à GivInsa !
  </h1>

</div>
<router-outlet></router-outlet>

<app-signup></app-signup>


