<!--The content below is only a placeholder and can be replaced.-->
<div class="topleft">
  <a href="/"><img width="100" alt="Logo" src="assets/img/logoVersionDefinitive.png"></a>
  <h1>sup</h1>
</div>

<div class="topnav">
  <a class="active" href="">Accueil</a>
  <a href="annonces/add">Créer une annonce</a>
  <a href="parametres">Paramètres</a>
  <a href="about">À propos</a>
</div>

<div>
  <a href="">
    <label (click)="bye()" style="cursor: pointer">
      Logout
    </label>
  </a>
</div>

<router-outlet></router-outlet>

<app-signup></app-signup>
