<p *ngIf="connectStatus == true">
  Bienvenue à vous, {{idUser}} !
</p>

<div class="container" *ngIf="connectStatus == false">
  <p>
    Attention notre service utilise des cookies pour vous maintenir connecté !<br>
    Aucune autre information qu'un id aléatoire ne sera stocké sur votre machine.<br>
    Cet identifiant ne sera pas revendu.
  </p>
  <form style="border:1px solid #ccc;">
    <p style="text-align: center;">Vous avez déjà un compte ?</p>
    <h1 style="text-align: center;">Se connecter</h1>
    <hr>

    <label for="pseudo" style="padding: 10px;"><b>Pseudo</b></label>
    <input type="text" placeholder="Entrer pseudo" id="pseudo1" required>

    <label for="psw" style="padding: 10px;"><b>Mot de passe</b></label>
    <input type="password" placeholder="Entrer mot de passe" id="psw1" required>

    <label style="padding: 10px">
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px;"> Se souvenir de moi
    </label>

    <br>

    <label for="pswerror" id="pswerror1" style="color:red; padding: 10px"><b></b></label>

    <div class="clearfix">
      <button type="submit" class="connectbtn" (click)="connect()">Se connecter</button>
    </div>
</form>

  <form style="border:1px solid #ccc">
    <p style="text-align: center;">Nouvel utilisateur ?</p>
    <h1 style="text-align: center;">S'inscrire</h1>
    <hr>

    <label for="pseudo" style="padding: 10px;"><b>Pseudo</b></label>
    <input type="text" placeholder="Entrer pseudo" id="pseudo" required>

    <label for="email" style="padding: 10px;"><b>Email</b></label>
    <input type="text" placeholder="Entrer email" id="email" required>

    <label for="psw" style="padding: 10px;"><b>Mot de passe</b></label>
    <input type="password" placeholder="Entrer mot de passe" id="psw" required>

    <label for="psw-repeat" style="padding: 10px;"><b>Confirmer le mot de passe</b></label>
    <input type="password" placeholder="Confirmer mot de passe" id="psw-repeat" required>

    <form>
      <select [(ngModel)]="quartier" size="1" name="quartier">
        <option></option>
        <option *ngFor="let item of quartiers">{{item.idQuartier}}</option>
      </select>
    </form>

    <p>Quartier : {{quartier}}</p>

    <label style="padding: 10px">
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Se souvenir de moi
    </label>

    <br>

    <label for="pswerror" id="pswerror" style="color:red"><b></b></label>

    <p style="text-align: center">En créant un compte, vous acceptez nos <a href="https://cat-bounce.com" style="color:dodgerblue;">Termes & Conditions</a>.</p>

    <div class="clearfix">
      <button type="reset" class="cancelbtn" (click)="cancel()">Annuler</button>
      <button type="submit" class="signupbtn" (click)="submit()">S'inscrire</button>
    </div>
</form>
</div>
