
<div class="form-annonce" *ngIf="connectStatus === true">
  <div class="container">
  <p style="font-weight:bold; text-align:center">
    <span style="font-family: 'Arial'; text-transform: uppercase;">Veuillez entrer les détails de votre annonce :</span><br></p><p style="font-weight:bold">
<!--
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="titre" placeholder="Titre">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput [(ngModel)]="description" placeholder="Description"></textarea>
    </mat-form-field>

  <label id="example-radio-group-label">Portée de l'annonce :</label>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group">
    <mat-radio-button class="example-radio-button" [(ngModel)]="scale" type="radio" value="1" [ngModelOptions]="{standalone: true}">
      Mon quartier
    </mat-radio-button>
    <mat-radio-button class="example-radio-button" [(ngModel)]="scale" type="radio" value="2" [ngModelOptions]="{standalone: true}">
      Mon arrondissement
    </mat-radio-button>
    <mat-radio-button class="example-radio-button" [(ngModel)]="scale" type="radio" value="3" [ngModelOptions]="{standalone: true}">
      Lyon
    </mat-radio-button>
  </mat-radio-group>

  </form>
  -->
      Nom de l'annonce : <input [(ngModel)]="titre" placeholder="Titre" style="float:right; width: auto"><br><br>
    Description : <textarea [(ngModel)]="description" placeholder="Description" style="float:right; width: auto"></textarea><br><br>
    <br>
      Portée de l'annonce :<br>
    </p>

      <form name="portée"> <!--Choix de la portée de l'annonce-->
      <label style="margin-left: 10px; font-size:15px">
        <input [(ngModel)]="scale" type="radio" value="1" [ngModelOptions]="{standalone: true}" style="margin-right: 5px;">
        Mon quartier
      </label><br/>
      <label style="margin-left: 10px; font-size:15px">
        <input [(ngModel)]="scale" type="radio" value="2" [ngModelOptions]="{standalone: true}" style="margin-right: 5px;">
        Mon arrondissement
      </label><br/>
      <label style="margin-left: 10px; font-size:15px">
        <input [(ngModel)]="scale" type="radio" value="3" [ngModelOptions]="{standalone: true}" style="margin-right: 5px;">
        Lyon
      </label><br/>
    </form>

  <p>Choix de la catégorie : </p> <!--Choix de l'intérêt de l'annonce.-->
  <mat-form-field>
    <mat-label>{{nominteret}}</mat-label>
    <mat-select [(ngModel)]="numInteret" size="1" name="interet">
      <mat-option *ngFor="let item of interests" (click)="interetSelect(item.idInteret, item.nom)">
        {{item.nom}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  </div>
  <br>
  <div style="text-align: center;">
  <button (click)="post()" style="text-align: center;">Cliquez ici pour publier l'annonce.</button>
  </div>
</div>
