

<h4>Choix du type d'objet</h4>
<mat-form-field>
  <mat-label>type</mat-label>
  <mat-select [(ngModel)]="interet" size="1" name="interet">
    <mat-option *ngFor="let item of interets">
      {{item.nom}}
    </mat-option>
  </mat-select>
</mat-form-field>


<button mat-stroked-button color="warn" (click)="search()">Chercher les annonces chaudes de ta région</button>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="list-group">

      <button *ngFor="let annonce of annonces" type="button" (click)="annonce(annonce)" class="list-group-item list-group-item-action">{{annonce.titre}}</button>

    </div>
  </mat-drawer>
  <mat-drawer-content>
    <ngb-tabset>
      <ngb-tab>
        <ng-template ngbTabTitle><b>Description</b></ng-template>
        <ng-template ngbTabContent>
          <p>{{annonceSelect.description}}</p>
        </ng-template>
      </ngb-tab>

      <ngb-tab>
        <ng-template ngbTabTitle>Details</ng-template>
        <ng-template ngbTabContent>
          <p>{{annonceSelect.idUser}}</p>
          <p>{{annonceSelect.echelle}}</p>
          <p *ngIf="annonceSelect.etat === 1">
            Disponible
            </p>
          <p *ngIf="annonceSelect.etat === 1">
            Réservé
          </p>

        </ng-template>
      </ngb-tab>

    </ngb-tabset>

    <button mat-stroked-button color="warn" (click)="post()">Contacter l'annonceur</button>
  </mat-drawer-content>
</mat-drawer-container>


<p>{{annonces | json}}</p>
