
<p> {{echelle}}</p>
<h4>Choix du type d'objet</h4>
<mat-form-field>
  <mat-label>{{nominteret}}</mat-label>
  <mat-select [(ngModel)]="interet" size="1" name="interet">
    <mat-option *ngFor="let item of interets" (click)="interetSelect(item.idInteret, item.nom)">
      {{item.nom}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-stroked-button color="warn" (click)="search()">Chercher les annonces chaudes de ta région</button>

<mat-drawer-container class="example-container"  *ngIf="searchOK==true">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let annonce2 of annonces" >
      <button mat-button (click)="annonce(annonce2)">
        {{annonce2.titre}}</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="description">

          <p>{{description}}</p>

      </mat-tab>
      <mat-tab label="Details">

          <p>{{UserAnonce}}</p>
          <p>{{echelle}}</p>
          <p *ngIf="etat === 1">
            Disponible
            </p>
          <p *ngIf="etat === 0">
            Réservé
          </p>


      </mat-tab>
    </mat-tab-group>
    <button mat-stroked-button color="warn" (click)="post()">Contacter l'annonceur</button>
  </mat-drawer-content>
</mat-drawer-container>

<!--
<p>{{annonces | json}}</p>
<p>{{interet}}</p>
-->

